* {
    padding: 0;
    margin: 0;
}

body {
    background: #FF512F;  
background: -webkit-linear-gradient(to right, #F09819, #FF512F);  
background: linear-gradient(to right, #F09819, #FF512F);

}

#wrapper {
    margin-left: auto;
    margin-right: auto;
}

#top-heading {
    background-color: rgb(46, 46, 46);
    text-decoration: solid;
    color: white;
    width: 100%;
    height: max-content;
    text-align: center;
    font-size: 80px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subtitle {
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: x-large;
    color: aliceblue;
    font-style: italic;
    background-color: rgb(46, 46, 46);
    text-decoration:solid;
}

#canvas {
    background: rgb(185,202,193);
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

#style-div {
    background: rgb(238,238,238);
    display: block;
    margin: 0 auto;
}

#timer {
    background: rgb(46, 46, 46);
    display: block;
    margin: 0 auto;
    margin-top: 14px;
    text-align: center;
    padding-bottom: 1px;
    width: 523;
    font-size: xx-large;
    color: white;
    border: black;
    border-width: 3px;
    border-radius: 20px;
    font-family:'Courier New', Courier, monospace;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    border: black;
    border-width: 4px;
    border-radius: 19px;
}

.modal-content {
    position: relative;
    background-color: rgb(78, 218, 44);
    margin: auto;
    padding: 0;
    border: 1px solid rgb(136,136,136);
    width: 30%;
    height: max-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3), 0 6px 20px 0 (0,0,0,0.2);
    -webkit-animation-name: top-animate;
    -webkit-animation-duration: 0.5s;
    animation-name: top-animate;
    animation-duration: 0.5s;
}

@keyframes top-animate {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes top-animate {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.modal-header {
    background-color: #f02626; 
    color: white;
    padding: 2px 15px;
    height: 60%;
    text-align: center;
}

.modal-body {
    padding: 2px 15px;
}

.modal-footer {
    background-color: rgb(78, 218, 44);
    color: white;
    padding: 2px 15px;
    height: 60%;
    text-align: center;
}

#movecount {
    cursor: pointer;
}

.close {
    color: aliceblue;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:focus, .close:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

